@font-face {
  font-family: 'iconfont';  /* project id："148782" */
  src: url('//at.alicdn.com/t/font_894ied02ezj5g66r.eot');
  src: url('//at.alicdn.com/t/font_894ied02ezj5g66r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_894ied02ezj5g66r.woff') format('woff'),
  url('//at.alicdn.com/t/font_894ied02ezj5g66r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_894ied02ezj5g66r.svg#iconfont') format('svg');
}
                    
.iconfont {
	font-family: "iconfont";
	font-size: 22px;
	font-style: normal;
	
}